.trending-component{
	width: 100%;
	--margin: .5rem;
	height: calc(100% - 2*var(--margin));
	margin-block: auto;
	overflow-y: scroll;
	border-radius: 30px;
}
.trending-component:-webkit-scrollbar{
	display: none;
	width: 0;
}

.trending-playlist-container{
	flex-direction: column;
	--padding: 1rem;
	flex-wrap: wrap;
	width: calc(100% - 2*var(--padding));
	margin: auto;
}

.trending-playlist-heading{
	margin: 1rem 0;
	font-size: 40px;
	color: #f4d9e3;
	font-weight: 900;
}

.trending-playlist-wrapper{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.trending-playlist{
	justify-content: center;
	width: 100%;
}

/* Top artist card */
.top-artists-container{
	flex-direction: column;
	justify-content: flex-start;
}

.top-artists-heading{
	margin: 1rem;
  font-size: 40px;
  color: #f4d9e3;
  font-weight: 900;
}

.top-artists-wrapper{
	padding: 5px;
	place-self: center;
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
	justify-content: center;
	gap: 1.5rem;
}
.top-artists-wrapper::-webkit-scrollbar{
	display: none;
}
.top-artist-card{
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 300px;
	position: relative;
	border-radius: 20px;
	background: rgb(30, 42, 62);
  background: linear-gradient(
    75%,
    rgba(40, 58, 88) 0%,
    rgba(73, 88, 119, 0) 100%
  );
	cursor: pointer;
	transition: .2s all ease-in-out;
	z-index: 1;
}
.top-artist-card:hover{
	transform: scale(1.02);
}

.top-artist-card::after{
	content: 'Hello this is shadow';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 84%;
  height: 34%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 8%;
  background: linear-gradient(
    180deg,
    rgba(54, 69, 98, 0) 10%,
    rgba(54, 69, 98, 1) 100%
  );
	border-radius: 30px;
	opacity: 0;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	transform: translate(-15px -20px);
	box-shadow: 3px 3px 7px 2px rgba(135, 150, 176, 0.3);
	z-index: -1;
	transition: all.2s ease;
}

.top-artist-card:hover .top-artist-card::after{
	opacity: 1;
}

.top-artist-card-image{
	width: 100%;
}

.top-artist-card-image img{
	width: 100%;
	aspect-ratio: 1;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.top-artist-card-details{
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 1rem;
}

.top-artist-name{
	font-size: 20px;
  font-weight: 800;
  color: #e1e6ee;
	margin-bottom: .5rem;
}

.top-artist-followers{
	font-size: 14px;
  font-weight: 600;
  color: #c4d0e3;
}
.top-artist-popularity{
	font-size: 12px;
  font-weight: 400;
  color: #c4d0e3;
}