.artist-album-item{
  position: relative;
  --item-padding: 1rem;
  --border-radius: 15px;
  /* padding: var(--item-padding); */
  background-color: rgb(30, 42, 62);
  border: 1px solid rgb(54, 69, 98, .18);
  background: linear-gradient(75deg,
      rgb(40, 58, 88) 0%,
      rgba(54, 69, 98, 0) 100%);
  aspect-ratio: 3 / 4;
  border-radius: var(--border-radius) 15px;
  transition: .2s all ease-in-out;
  cursor: pointer;
}

.artist-album-item:hover{
  transform: scale(1.05);
}

.artist-album-image{
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-top-left-radius: var(--border-radius) 15px;
  border-top-right-radius: var(--border-radius) 15px;
  overflow: hidden;
}

.artist-album-image img{
  width: 100%;
}

.album-title {
  font-weight: 800;
  font-size: 16px;
  color: #c4d0e3;
  margin: 10px 0 5px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-inline: 1rem;
}

.album-subtitle {
  font-weight: 400;
  font-size: 12px;
  color: #c4d0e37c;
  margin: 0;
  padding-inline: 1rem;
}

.album-fade {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 34%;
  border-radius: var(--border-radius);
  background: linear-gradient(180deg,
      rgba(54, 60, 98, 0) 10%,
      rgba(54, 60, 98, 1) 100%);
  transition: all.2s ease;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 4px;
}

.artist-album-item:hover .album-fade{
  opacity: 1;
}