.sidebar-container{
  --padding-block-end: 1rem;
  width: 100px;
  height: calc(100% - var(--padding-block-end));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile-img{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin: 20px auto;
}