@media screen and (max-width : 1050px){
  /* local class */
  .song-title{
    font-size: 35px !important;
  }

  .song-artist{
    font-size: 13px !important;
  }

  .duration{
    font-size: 14px !important;
    font-weight: 600;
  }

  /* Controls */
  .action-btn{
    width: 40px !important;
    height: 40px !important;
    border-radius: 15px !important;
  }

  .play-pause-btn{
    width: 50px !important;
    height: 50px !important;
    border-radius: 20px !important;
  }
}

@media screen and (max-width: 920px){
  .player-body{
    grid-template-columns: none !important;
    grid-template-rows: 1fr 1fr !important;

  }
}